br
div(class="img-card col-lg-4 col-md-6 col-sm-12")
    div(class="card mb-4 shadow-sm")
        if data.img_url
            img(src=data.img_url, class="card-img-top" alt="insta_pic.jpg")
        else
            img(src=data.post_data[n].img_url, class="card-img-top" alt="insta_pic.jpg")
        div(class="card-body")
            if data.img_url
                button(
                    href=data.img_url,
                    class="btn btn-outline-dark btn-block",
                    type="submit",
                    id="single",
                    onclick="saveImage()"
                )
                    i(class="fas fa-download mr-2")
                    | Download
            else
                button(
                    href=data.post_data[n].img_url,
                    class="btn btn-outline-dark btn-block",
                    type="submit",
                    id="single",
                    onclick="saveImage()"
                )
                    i(class="fas fa-download mr-2")
                    | Download
